<Configuration status="warn" name="biodwh2">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%-5p] %c:%L - %m%n%throwable"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
        <Logger name="org.apache.parquet.hadoop.InternalParquetRecordReader" level="WARN" />
    </Loggers>
</Configuration>